---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Experience from "../components/Experience.astro";
---

<Layout title="Welcome to Astro.">
  <main class="container mx-auto">
    <Header />
    <Experience />
  </main>
</Layout>