---

---

<footer
  class="w-10/12 mx-auto flex flex-col justify-center items-center mt-10 md:items-center md:justify-start lg:items-start lg:mt-28 lg:flex-col mb-10"
>
  <p class="text-sm">© 2024. Todos los derechos reservados</p>
</footer>
