---

---

<nav
class="flex flex-col items-center gap-2 md:flex-row md:justify-around md:max-w-md md:mx-auto md:my-3"
>
<a class="" href="#index">Inicio</a>
<a href="/portfolio-astro/#experience">Experiencia</a>
<a href="/portfolio-astro/#projects">Proyectos</a>
<a href="/portfolio-astro/#about">Sobre mi</a>
</nav>