---
import Project from "../components/Project.astro";
import SectionHeader from "@components/SectionHeader.astro";
---

<section
  id="projects"
  class="w-10/12 mx-auto flex flex-col justify-center items-center mt-10 md:items-center md:justify-start lg:items-start lg:mt-28 lg:flex-col"
>
  <SectionHeader title={"Proyectos"}>
    <svg
      width="32"
      height="32"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="mr-2"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M7 8l-4 4l4 4"></path><path d="M17 8l4 4l-4 4"></path><path
        d="M14 4l-4 16"></path></svg
    >
  </SectionHeader>

  <div class="flex flex-col gap-10 mt-3">
    <div
      class="flex flex-col justify-center items-center gap-3 md:flex-row lg:items-start lg:justify-start"
    >
      <img
        class="h-48 w-96"
        src="https://img.freepik.com/foto-gratis/colores-arremolinados-interactuan-danza-fluida-sobre-lienzo-que-muestra-tonos-vibrantes-patrones-dinamicos-que-capturan-caos-belleza-arte-abstracto_157027-2892.jpg?size=626&ext=jpg&ga=GA1.1.2113030492.1720224000&semt=sph"
        alt=""
      />
      <div class="flex flex-col w-full md:w-1/2 md:max-w-lg">
        <h3>Titulo del proyecto</h3>
        <div>
          <span
            class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"
            >Default</span
          >
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Perspiciatis sint esse ipsum beatae maiores voluptatem accusantium
            nihil reiciendis.
          </p>
          <a
            href="#"
            class="bg-blue-100 hover:bg-blue-200 text-blue-800 text-xs font-semibold me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400 inline-flex items-center justify-center"
            >Badge link</a
          >
          <a
            href="#"
            class="bg-blue-100 hover:bg-blue-200 text-blue-800 text-xs font-semibold me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400 inline-flex items-center justify-center"
            >Badge link</a
          >
        </div>
      </div>
    </div>

    <Project
      image="https://png.pngtree.com/thumb_back/fh260/background/20230611/pngtree-wolf-animals-images-wallpaper-for-pc-384x480-image_2916211.jpg"
      title="Proyecto 2"
      technologies={["uno", "dos"]}
      description="una descripcion"
    />
  </div>
</section>
